.body{


}
.form-body{

}
.search{
    display: flex;
    background: aqua;
}
.navbar{
    display: flex;
    background: bisque;
    justify-content: left;
}
.navbar-div{
    display: flex;
    flex-direction: column;
    padding-left: 30%;


}
.counterForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;


}
.counterHeading{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 50%;
    justify-content: center;
}
.counterBox{
    display: flex;

    justify-content: center;
    align-items: center;
}
.button{
    display: flex;
    justify-content: space-around;
    background-color: cadetblue;
}


.container{
    justify-items: stretch;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}

.noteContainer{
    height: 20px;
}

.button{
    padding: 10px;
    margin: 10px;
    justify-content: center;
}
/*.nav{*/
/*    justify-items: center;*/
/*}*/

.flexCard{
    height: 100%;
    display: flex;
    flex-direction: row;

}
.formPad{
    padding: 10px;
    margin: 10px;
}


