.body{


}

.container{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 10px;
}
.form_container{
    background-color: antiquewhite;
    height: 1000px;
    width: 800px;

}
.user_container{
    font-family: sans-serif;
    padding-top:10px;
    padding-bottom: 10px;
}

.product_container{
    font-family: sans-serif;
    padding-bottom: 10px;

}

.textarea{
    width: 400px;
}
.select{
    width : 380px
}

.search{
    display: flex;
    background: aqua;
}
.navbar{
    display: flex;
    background: bisque;
    justify-content: left;
}


.counterHeading{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 50%;
    justify-content: center;
}
.counterBox{
    display: flex;

    justify-content: center;
    align-items: center;
}
.button{
    display: flex;
    justify-content: space-around;
    background-color: cadetblue;
}






.flexCard{
    height: 100%;
    display: flex;
    flex-direction: row;

}



